@charset "UTF-8";
/* --------------------------
    Common Styles
-------------------------- */
body {
    font-family: "Roboto",
                 "Noto Sans JP",
                 "Arial", 
                 "Hiragino Kaku Gothic ProN",
                 "Hiragino Sans", Meiryo, sans-serif;
    font-size: 16px;
}

.wrapper {
    overflow-x: hidden;
}

.content {
    display: grid;
    padding: 60px 0 100px;
    row-gap: 80px;
}

.container {
    max-width: 96rem;
    margin: 0 auto;
    padding: 0 30px;
}