services:
  database:
    ports:
      - "3306:3306"
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    ports:
      - "8081:80"
    environment:
      PMA_HOST: database
      PMA_USER: maria
      PMA_PASSWORD: admin
      PMA_ARBITRARY: 0
    depends_on:
      - database
  node:
    image: node:24
    ports:
      - "5173:5173"
    volumes:
      - ./src:/var/www/html
    working_dir: /var/www/html
    command: npm run dev -- --host
